body 
{
font-family: 'Roboto', sans-serif;
margin: 0;
}

.wrapper
{
    padding-left: 9px;
    padding-right: 5px;
}

.wrappeer
{
    max-width: 1440px;
}


.header
{
    display: flex;
    justify-content: center;
    height: 3rem;
    margin: 15px;
}


  /**header**/

.loading
{
  background: white;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: fixed;
    animation:  flash 3s linear forwards;
    display: flex;
 }

#spinner
    {
      margin: auto;
      color: purple;
      font-size: 4rem;
    }



@keyframes flash 
{
   0% 
   {
    opacity: 1;
    z-index: 100;
   }
   90%
   {
    z-index: 100;
   }
   100% 
   {
    opacity: 0;
    z-index: -100;
   }
}


  /**location**/

.location 
{
    background-color: #eaeaea;
    height: 52px;
}

.location h2 {
    padding-left: 21px;
    font-weight: 600;
    font-size: 18px;
}

.bloc-location
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.fa-location-dot 
{
    font-size: 19px;
}


/**button section*/

.button-presentation /*section*/
{
    height: 423px;
    background: whitesmoke;
}


.button-presentation p 
{
    font-size: 18px;
    color: grey;
}

.button-presentation h1
{
    margin-top: 0;
    font-size: 38px;
}

.presentation-button /*texte englobant déplacer*/
{
    position: absolute;
    top: 232px;
    left: 44px;
    right: 36px;
    text-align: center;
}

.button-presentation button 
{
    height: 46px;
    border-radius: 30px;
    width: 64%;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    color: white;
    border-color: transparent;
    font-size: 15px;
}

.button-presentation button:hover
{
      background: linear-gradient(162deg, #9356dc 0%, #ff79da 100%);
       transform: scale(1.02);
}

.filtre h2
{
    position: relative;
    top: 16px;
    padding-left: 20px;
}

.filter
{
    display: flex;
    height: 87px;
    margin: 17px;
    border-radius: 2rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.filter a {
    position: relative;
    left: 34px;
    top: 34px;
    font-size: 18px;
    font-weight: 500;
}

.filter:hover
{
 transform: scale(1.02);
 opacity: 0.9;
 background-color: #f2eafb;
}

.filter:hover i
{
 color: #9356DC;
}



.iconenumber
{
display: flex;
    position: relative;
    top: 30px;
    right: 10px;
}

 .iconenumber span
 {
   background-color: #9356DC;
    padding: 5px;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    text-align: center;
    color: white;
}

.space-filter
{
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fa-mobile-screen, .fa-list-ul, .fa-store
{
    position: relative;
    top: 35px;
    left: 17px;
}


/**restaurant section*/

.restaurants_section
{
 background: #f6f6f6;
 height: auto;
 margin-top: 78px;
 padding-bottom: 52px;
}

.restaurants_section h2
{
    padding-left: 21px;
    padding-top: 65px;
    position: relative;
}



.restaurant-main 
{
    background-color: white;
    justify-content: space-between;
    margin: 10px;
    height: auto;
    width: 90%;
    border-radius: 15px;
    position: relative;
    left: 11px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.restaurant-main1
{
    background-color: white;
    justify-content: space-between;
    margin: 10px;
    height: auto;
    width: 90%;
    border-radius: 15px;
    position: relative;
    left: 11px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.restaurant-main a 
{
    text-decoration: none;
    color: black;
}

.restaurant-main1 a 
{
    text-decoration: none;
    color: black;
}



.restaurant-main1-image img 
{
    border-radius: 20px 20px 0px 0px;
    height: 180px;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.text-restaurants-section
{
    position: relative;
    left: 17px;
    margin-bottom: 23px;
}

.text-restaurants-section1
{
    position: relative;
    left: 17px;
    margin-bottom: 2px;
}





.text-restaurants-section p 
{
    margin-top: 4px;
    padding-bottom: 17px;
}

.text-restaurants-section h3
{
    margin-bottom: 4px;
}

.h3-main-new
{
    margin-top: 13px;
}

  .new1 {
    background-color: #99e2d0;
    color: #008766;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    display: inline;
    width: 4rem;
}

.new2 {
    background-color: #99e2d0;
    color: #008766;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    display: inline;
    width: 4rem;
}

    /*footer*/
footer
{
    background-color: #353535;
    color: white;
    padding-top: 34px;
    padding-bottom: 23px;
}

.fa-utensils
{
    padding-right: 11px;
}

.fa-handshake-angle
{
    padding-right: 5px;
}

footer .logo 
{
      font-family: 'Shrikhand', cursive;
      font-weight: 600;

}

footer p 
{
    margin-top: 0px;
    margin-bottom: 5px;
}

.container_footer
{
    padding-left: 20px;
}

.container_footer a 
{
    text-decoration: none;
    color: white;
}

.hearts-title
{
    display: flex;
    align-items: center;
}
/*mobile*/

/*header*/

.header-mobile 
{
    background: white;
    z-index: 2;
    font-family: "Shrikhand", cursive;
    font-size: 2.5rem;
    height: 3rem;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    padding-top: 11px;
}

.fa-arrow-left {
    margin-left: 1rem;
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: -11px;
}

.header-mobile img 
{
    margin: auto;
    height: 3rem;
    margin-top: 9px;
}

.height-mobile-image-main
{
    height: 242px;
    object-fit: cover;
}


.image_mobile {
    width: 100%;
    object-fit: cover;
    height: 292px;
    position: relative;
    top: 25px;}

.image_mobile_délice
{
    width: 100%;
    object-fit: cover;
    height: 376px;
    position: relative;
    top: 55px;
}


/*button*/ 

.button-presentation-mobile button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    border-radius: 30px;
    width: auto;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    color: white;
    border-color: transparent;
    font-size: 15px;
}

.presentation-button-mobile
{

    text-align: center;
    margin-bottom: 0px;
    padding-right: 16px;
}

.mobile-button
{
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
    padding-top: 15px;
    margin-bottom: 32px;
}


/*menu mobile*/

.menu 
{    border-radius: 40px 40px 0px 0px;
    height: auto;
    position: relative;
    background-color: #f7f7f7;
}

.bold 
{
    font-weight: 500;
}

.bold2
{
    font-weight: 300;
}

.menu h2 {
    text-align: center;
    font-size: 28px;
    font-family: 'Shrikhand', cursive;
    padding-left: 22px;
}

.menu h3 
{
    font-weight: 200;
    text-transform: uppercase;
    font-size: 15px;
    width: 37px;
    padding-bottom: 6px;
    border-bottom: 3px solid #99E2D0;
    margin-left: 17px;
}



.container-menu-choice {
    margin: 5px;
    max-width: 654px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.menu-choice
{
    border: 1px solid #f2f2f2;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    width: 94%;
    margin-bottom: 28px;
    padding: 10px;
    border-radius: 15.0431px;
}

.menu-choice p 
{
    margin-top: 2px;
    margin-bottom: 2px;
}

.menu 
{
 margin-top: 100px;
 opacity: 0;
 animation:  progressive 3s linear forwards;
 padding-top: 12px
}

#menu-entrees
 {
  animation-delay: 2s;
  opacity: 0;
  animation:  progressive 3s linear forwards;

}

#menu-plats
{
  animation-delay: 3s;
   opacity: 0;
  animation:  progressive 3s linear forwards;
}

#menu-desserts
{
  animation-delay: 5s;
   opacity: 0;
  animation:  progressive 3s linear forwards;
}


@keyframes progressive 
{
 0% 
 {
  opacity: 0;
  margin-top: 100px;
}

100% 
{
  opacity: 1;
  margin-top: 0;
}
}

.bloctitre
{
  margin-top: 3px;
}

.adjust_heart_1
  {
    justify-content: flex-start;
    padding-right: 20px;
    padding-top: 16px;
    color: black;}

  


 .adjust_heart_1 .coeur2 .coeur1  i 
   {
    transition: all 0.5s;
  }
.fa-heart img 
{
    font-size: 45px;
}



.pad-top 
{
  padding-top: 15px;
}

.coeur 
  {
    justify-content: flex-start;
    padding-right: 20px;
    padding-top: 4px;
  }

  .deflex
  {
    display: flex;
  }

  .footer_description-mobile 
  {
    background-color: #353535;
    color: white;
    padding-top: 34px;
    padding-bottom: 18px;
    margin-top: 62px;
}

/*animation*/



.hearts {
    display: flex;
    height: auto;
    position: absolute;
    right: 43px;
    bottom: 53px;
}

.heartss {
    display: flex;
    position: absolute;
    top: 43px;
    right: 78px;
}

.hearts-title > .hearts
{
    padding-left: 61px;
    padding-bottom: 33px;
}


.coeur1
{
    position: absolute;
    font-size: 4px;
}

.coeur2
{
    position: absolute;
    opacity: 0;
}

.coeur22
{
    position: absolute;
    opacity: 0;
}

.coeur11
{
    position: absolute;
    font-size: 4px;
}


 .coeur1:hover
   {
    opacity: 1;
   }

    .hearts:hover .coeur2
   {
     opacity: 1;
   }

   .hearts img 
   {
     transition: all 0.5s;
   }

   

   

   .coeur11:hover
    {
    opacity: 1;
   }

    .heartss:hover .coeur22
   {
     opacity: 1;
   }

   .heartsss img 
   {
     transition: all 0.5s;
   }


   

   


/**animations*/

.menu-item {
    width: 95%;
    height: 51px;
    border-radius: 10px;
    position: relative;
    padding-bottom: 45px;
}

.menu-item-visible {
    position: absolute;
    width: 100%;
    padding: 10px;
    transition: width .3s;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px 15px;
    box-shadow: 0px 4.01149px 15.0431px rgb(0 0 0 / 10%);
}

.menu-item:hover .menu-item-visible {
    width: 80%;
}

.menu-item-hidden {
    top: 0px;
    left: 0px;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #99E2D0;
    text-align: right;
    border-radius: 15px 15px 15px 15px;

}

.text-menuu
{
    margin-bottom: 5px;
    margin-top: 12px;
}

.text-menu
{
    margin-top: 1px;
}

.bold                   
{
    margin-top: 0;
    margin-bottom: 13px;
    font-weight: 700;
}

.bold2
{
    margin-top: 0;
    margin-bottom: 0;
}

                           
.price 
{
    position: relative;
    top: 15px;
    right: 9px;
    width: 15px;
}

.fa-circle-check
{
    color: white;
}

.menu-item:hover .menu-item-visible
{
    border-radius: 15px 0px 0px 15px;
}

.all_menu /**englobe toute la div*/ 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    padding: 6px;
    overflow: hidden;
}

.choice_menu /*box shadow height hidden ect*/ 
{
    display: flex;
    border-radius: 16px;
    height: 64px;
    justify-content: space-between;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
}

     
.choice_menu:hover .text-column
      {
        width: calc(80% - 5rem);
        transition: all 0.5s;
      }

.choice_menu:hover .check-box
      {
        right: 0;
        width: 5rem;
        transition: all 0.5s;
      }
    

.text_column /*partie ou il y a le texte*/ 
{
  width: 80%;
  transition: all 0.5s;
   overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 11px;}


.text_column p 
  {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }


.price 
{
    display: flex;
    width: 20%;
    text-align: center;
    align-items: flex-end;
    padding-bottom: 14px;
    padding-left: 12px;
    position: relative;
    left: 30px;
    top: 5px;
}

.price p 
  {
    margin: 0;
  }



.check-box
{
  display: flex;
  width: 0%;
  height: 100%;
  position: relative;
  right: -5rem;
  background-color: #99E2D0;
  border-radius: 3px 0px 3px 0px;
  transition: all 0.5s;
}

.check-box i 
  {
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-items: center;
    align-self: center;
    justify-content: center;
}
  

  .check-box:hover
  {
    width: 20%;
    transition: width .3s;
  }

/*tablette*/

@media (min-width: 768px) and (max-width: 1024px)
{
    .container-menu-choice {
    margin: 5px;
    max-width: 509px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

    .heartss {
    display: flex;
    position: absolute;
    top: 42px;
    right: 273px;}

.hearts-title
{
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.heartss {
    display: flex;
    position: relative;
    top: -12px;
    left: 47px;}

.menu h2 
{
    padding-left: 5px;
}

.price 
{
    position: relative;
    left: 42px;
}

.button-presentation button 
{
    width: 30%;
}

.filter {
    height: 87px;
    margin: 17px;
    border-radius: 2rem;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
    width: 39%;
    display: flex;
}

.filter a {
    position: relative;
    left: 12px;
    top: 34px;
    font-size: 14px;
    font-weight: 500;
}

.space-filter 
{
    margin: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-mobile-screen, .fa-list-ul, .fa-store {
    position: relative;
    top: 35px;
    left: 3px;
}

.tab-main-restaurants 
{
    display: flex;
    flex-direction: row;
}

.menu-choice {
    border: 1px solid #f2f2f2;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    width: 95%;
    margin-bottom: 28px;
    padding: 10px;
    border-radius: 15.0431px;
    }

.restaurant-main {
    background-color: white;
    justify-content: space-between;
    margin: 17px;
    height: auto;
    width: 44%;
    border-radius: 15px;
    position: relative;
    left: 11px;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
}

.restaurant-main1 {
    background-color: white;
    justify-content: space-between;
    margin: 17px;
    height: auto;
    width: 44%;
    border-radius: 15px;
    position: relative;
    left: 11px;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
}

.new1 {
    
    right: 15px;
}


.text-restaurants-section p {
    margin-top: 4px;
    padding-bottom: 0px;
    margin-bottom: 0;
}

.text-restaurants-section
{
    position: relative;
    left: 17px;
    margin-bottom: 21px;
}

.text-restaurants-section1
{
    position: relative;
    left: 17px;
     margin-bottom: 5px;
}


footer p {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 11px;
}
.container_footer {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.menu {
    border-radius: 37px 37px 10px 10px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 747px;
}

.image_mobile {
    height: 385px;
    position: relative;
    top: 53px;}

.presentation-button-mobile {
    text-align: center;
    margin-bottom: 0px; 
}
.presentation-button-mobile button 
{
    width: 21%;
}

.container_footer {
    padding-left: 97px;
    display: flex;
    flex-direction: row;
}

footer
{
    background-color: #353535;
    color: white;
    padding-top: 34px;
    padding-bottom: 23px;
    display: flex;
    justify-content: flex-end;
}
}

@media (min-width: 1025px) and (max-width: 3500px)
{
.heartss {
    display: flex;
    position: absolute;
    top: 42px;
    right: 273px;}
        
.button-presentation button {
    height: 48px;
    border-radius: 30px;
    width: 21%;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    color: white;
    border-color: transparent;
    font-size: 15px;
    margin-top: 8px;
}

.space-filter {
    margin-left: 105px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 83%;
}

.price
{
    position: relative;
    left: 67px;
}

.filter a {
    position: relative;
    left: 28px;
    top: 34px;
    font-size: 14px;
    font-weight: 500;
}

.filter {
    height: 87px;
    margin: 17px;
    border-radius: 2rem;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
    width: 30%;
    display: flex;
}

.filtre h2 
{
    position: relative;
    top: 16px;
    padding-left: 124px;
}

.desk-main-restaurants
{
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.tab-main-restaurants
{
    display: flex;
    flex-direction: row;
}

.restaurant-main
{  
    height: 220px;
    width: 341px;
    margin: 10px;
}

.restaurant-main1
{
    height: 220px;
    width: 341px;
    margin: 10px;
    margin-left: 119px;
}

.restaurant-main1-image img 
{
    height: 152px;
    width: 100%;
}



  .menu {
    border-radius: 37px 37px 10px 10px;
    background-color: #f7f7f7;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 901px;
}


.menu-choice
{
    border: 1px solid #f2f2f2;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    width: 94%;
    margin-bottom: 28px;
    padding: 10px;
    border-radius: 15.0431px;
}

.image_mobile {
    height: 385px;
    position: relative;
    top: 53px;
}

.button-presentation-mobile button {
    height: 46px;
    border-radius: 30px;
    width: 100%;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    color: white;
    border-color: transparent;
    font-size: 15px;
}


.presentation-button-mobile 
{
    text-align: center;
    margin-bottom: 0px;
}

.restaurants_section h2 {
    padding-left: 125px;
    padding-top: 65px;
}

.container_footer {
    display: flex;
    flex-direction: row;
}

footer
{
    background-color: #353535;
    color: white;
    padding-top: 34px;
    padding-bottom: 23px;
    display: flex;
    justify-content: flex-end;
}

footer p {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 11px;
}

.container_footer
{
    order: 5;
    display: flex;
    padding-right: 67px;

}
    
}