body 
{
font-family: 'Roboto', sans-serif;
margin: 0;
max-width: 1440px;
}

  /**header**/
}
.header
{
	height: 65px;
}

.header 
{
	height: 47px;
}

header img 
{
	height: 30px;
    display: flex;
    align-items: center;
    padding-left: 107px;
    position: relative;
    top: 11px;
}

  /**location**/

.location 
{
	background-color: #eaeaea;
	height: 52px;
}

.location h2 
{
	padding-left: 22px;
    font-weight: 100;
    font-size: 18px;
}

.bloc-location
{
	display: flex;
	align-items: center;
}

.fa-location-dot 
{
	padding-left: 107px;
    font-size: 19px;

}


/**button section*/

.button-presentation /*section*/
{
	height: 423px;
	background: whitesmoke;
}

.button-presentation p 
{
	font-size: 18px;
	color: grey;
}

.button-presentation h1
{
	margin-top: 0;
}

.presentation-button /*texte englobant déplacer*/
{
    position: absolute;
    top: 232px;
    left: 44px;
    right: 36px;
    text-align: center;
}

.button-presentation button 
{
	height: 46px;
    border-radius: 30px;
    width: 64%;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    color: white;
    border-color: transparent;
    font-size: 15px;
}

.filtre h2
{
	position: relative;
    top: 16px;
    padding-left: 20px;
}

.filter
{
	display: flex;
	height: 87px;
    margin: 17px;
    border-radius: 2rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.filter a {
    position: relative;
    left: 34px;
    top: 34px;
    font-size: 18px;
    font-weight: 500;
}

.filter:hover
{
 transform: scale(1.02);
 opacity: 0.9;
 background-color: #f2eafb;
}

.filter:hover i
{
 color: #9356DC;
}



.iconenumber
{
display: flex;
    position: relative;
    top: 30px;
    right: 10px;
}

 .iconenumber span
 {
   background-color: #9356DC;
    padding: 5px;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    text-align: center;
    color: white;
}

.space-filter
{
	margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fa-mobile-screen, .fa-list-ul, .fa-store
{
	position: relative;
	top: 35px;
	left: 17px;
}


/**restaurant section*/

.restaurants_section
{
 background: #f6f6f6;
 height: auto;
 margin-top: 78px;
 padding-bottom: 52px;
}

.restaurants_section h2
{
	padding-left: 21px;
    padding-top: 65px;
    position: relative;
}



.restaurant-main 
{
	background-color: white;
    justify-content: space-between;
    margin: 10px;
    height: auto;
    width: 90%;
    border-radius: 15px;
    position: relative;
    left: 11px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.restaurant-main a 
{
	text-decoration: none;
	color: black;
}


.restaurant-main img 
{
    border-radius: 20px 20px 0px 0px;
    height: 180px;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.text-restaurants-section
{
	position: relative;
	left: 17px;
}

.text-restaurants-section p 
{
	margin-top: 4px;
	padding-bottom: 17px;
}

.text-restaurants-section h3
{
	margin-bottom: 4px;
}

.h3-main-new
{
	margin-top: 0;
}

  .new1 
  {
    background-color: #99e2d0;
    color: #1b6150;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: relative;
    bottom: 155px;
    left: 281px;
    z-index: 2;
    display: inline;
    width: 5rem;
    margin-left: auto;
    margin-right: 1rem;
}

.new2 {
    background-color: #99e2d0;
    color: #1b6150;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: relative;
    bottom: 155px;
    left: 281px;
    z-index: 2;
    display: inline;
    width: 5rem;
    margin-left: auto;
    margin-right: 1rem;
}

    /*footer*/
footer
{
    background-color: #353535;
    color: white;
    padding-top: 34px;
    padding-bottom: 18px;
}

.fa-utensils
{
	padding-right: 11px;
}

.fa-handshake-angle
{
	padding-right: 5px;
}

footer .logo 
{
	  font-family: 'Shrikhand', cursive;
	  font-weight: 600;

}

footer p 
{
	margin-top: 0px;
	margin-bottom: 5px;
}

.container_footer
{
	padding-left: 20px;
}

.container_footer a 
{
	text-decoration: none;
	color: white;
}

/*mobile*/

/*header*/

.header-mobile
{
	display: flex;
	align-items: center;
	height: 55px;
}

.header-mobile img 
{
	height: 30px;
    display: flex;
    align-items: center;
    padding-left: 92px;
    position: relative;
    top: 1px;
}

.height-mobile-image-main
{
    height: 242px;
    object-fit: cover;
}


.image_mobile
{
	width: 100%;
	object-fit: cover;
}

.image_mobile_délice
{
	width: 100%;
    object-fit: cover;
    height: 240px;
}

.fa-arrow-left
{
	font-size: 20px;
    padding-left: 14px;
}
/*button*/ 

.button-presentation-mobile button {
    height: 46px;
    border-radius: 30px;
    width: 41%;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    color: white;
    border-color: transparent;
    font-size: 15px;
}

.presentation-button-mobile
{

    position: relative;
    right: 11px;
    bottom: 8px;
    text-align: center;
    margin-bottom: 64px;
}



/*menu mobile*/

.menu 
{    border-radius: 37px 37px 10px 10px;
    height: auto;
    position: relative;
    bottom: 50px;
    background-color: white;
}

.bold 
{
	font-weight: 500;
}

.bold2
{
	font-weight: 300;
}

.menu h2 {
    text-align: center;
    margin-bottom: 46px;
    position: relative;
    top: 9px;
    right: 54px;
    font-size: 28px;
    font-family: 'Shrikhand', cursive;
}

.menu h3 
{
	position: relative;
    left: 16px;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 15px;
    width: 37px;
    border-bottom: 3px solid #99E2D0;   
    padding-bottom: 6px;
    margin-top: 55px;

}

.container-menu-choice
{
	margin: 5px;
}

.menu-choice
{
	border: 1px solid #f2f2f2;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
	width: 94%;
    margin-bottom: 28px;
    padding: 10px;
    border-radius: 15.0431px;
}

.menu-choice p 
{
	margin-top: 2px;
	margin-bottom: 2px;
}

.adjust_heart_1
  {
    justify-content: flex-start;
    padding-right: 20px;
    padding-top: 16px;
    color: black;}

  .adjust_heart_1 .heart2:hover
    {
     opacity: 1;
 }

   .heart1:hover 
   {
     opacity: 0;
   }


 .adjust_heart_1 .heart2 .heart1  i 
   {
    transition: all 0.5s;
  }


.pad-top 
{
  padding-top: 15px;
}

.coeur 
  {
    justify-content: flex-start;
    padding-right: 20px;
    padding-top: 4px;
  }

  .deflex
  {
  	display: flex;
  }

  .footer_description-mobile 
  {
  	background-color: #353535;
    color: white;
    padding-top: 34px;
    padding-bottom: 18px;
    margin-top: 62px;
}

/*animation*/
.hearts
{
	display: flex;
	padding-left: 403px;
}



.heart2
{
	position: relative;
	left: 32px;
    background-color: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}


 .heart1:hover
    {
    opacity: 1;
   }

    .heart2:hover
   {
     opacity: 0;
   }

   .hearts i 
   {
   	 transition: all 0.5s;
   }

   

   .hearts i:hover
   {
   	color: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
   }


/*tablette*/

@media (min-width: 768px) and (max-width: 1024px)
{
header img 
{
	padding-left: 289px;
}

.header-mobile img {
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 35%;
    position: relative;
    top: 1px;
}

.fa-location-dot 
{
    padding-left: 294px;
}

.button-presentation button 
{
    width: 30%;
}

.filter {
    height: 87px;
    margin: 17px;
    border-radius: 2rem;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
    width: 39%;
    display: flex;
}

.filter a {
    position: relative;
    left: 12px;
    top: 34px;
    font-size: 14px;
    font-weight: 500;
}

.space-filter 
{
    margin: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-mobile-screen, .fa-list-ul, .fa-store {
    position: relative;
    top: 35px;
    left: 3px;
}

.tab-main-restaurants 
{
	display: flex;
	flex-direction: row;
}

.menu-choice {
    border: 1px solid #f2f2f2;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
    width: 95%;
    margin-bottom: 28px;
    padding: 10px;
    border-radius: 15.0431px;
    }

.restaurant-main {
    background-color: white;
    justify-content: space-between;
    margin: 17px;
    height: auto;
    width: 44%;
    border-radius: 15px;
    position: relative;
    left: 11px;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
}

.new1 {
    
    left: 247px;
}
.new2
{
	position: relative;
	left: 249px;
}

.text-restaurants-section p {
    margin-top: 4px;
    padding-bottom: 0px;
}

footer p {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 11px;
}
.container_footer {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.menu {
    border-radius: 37px 37px 10px 10px;
    height: auto;
    position: relative;
    background-color: #f2f2f2;
    padding: 3px;
    margin-left: 10%;
    margin-right: 10%;
    top: 43px;
    padding-bottom: 103px;
    margin-top: -90px;
    padding-right: 145px;
    padding-left: 125px;

}

.image_mobile
{
	height: 267px;
}

.presentation-button-mobile {
    position: relative;
    right: 11px;
    bottom: 50px;
    text-align: center;
    margin-bottom: 0px; 
}
.presentation-button-mobile button 
{
    width: 21%;
}

.container_footer {
    padding-left: 97px;
    display: flex;
    flex-direction: row;
}
}

@media (min-width: 1025px) and (max-width: 3500px)
{

.header-mobile img 
{
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 38%;
    position: relative;
    top: 1px;
}
		header img 
{
	padding-left: 418px;
}

.fa-location-dot 
{
    padding-left: 421px;
}

.button-presentation button {
    height: 48px;
    border-radius: 30px;
    width: 21%;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    color: white;
    border-color: transparent;
    font-size: 15px;
}

.filter a {
    position: relative;
    left: 28px;
    top: 34px;
    font-size: 14px;
    font-weight: 500;
}

.filter {
    height: 87px;
    margin: 17px;
    border-radius: 2rem;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
    width: 28%;
    display: flex;
}

.desk-main-restaurants
{
	display: flex;
	flex-direction: row;
}

.tab-main-restaurants
{
	display: flex;
	flex-direction: row;
}

.restaurant-main
{
	height: 220px;
	width: 232px;
	margin: 10px;
}

.restaurant-main img 
{
	height: 132px;
	width: 100%;
}

.menu {
    border-radius: 37px 37px 10px 10px;
    height: auto;
    position: relative;
    background-color: #f2f2f2;
    padding: 3px;
    margin-left: 12%;
    margin-right: 12%;
    top: 43px;
    padding-bottom: 103px;
    margin-top: -90px;
    padding-right: 145px;
    padding-left: 125px;
}

.menu-choice
{
	border: 1px solid #f2f2f2;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 10%);
	width: 94%;
    margin-bottom: 28px;
    padding: 10px;
    border-radius: 15.0431px;
}

.image_mobile {
    height: 267px;
}

.button-presentation-mobile button {
    height: 46px;
    border-radius: 30px;
    width: 15%;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    color: white;
    border-color: transparent;
    font-size: 15px;
}

.presentation-button-mobile 
{
    position: relative;
    right: 11px;
    bottom: 43px;
    text-align: center;
    margin-bottom: 0px;
}

.container_footer {
    padding-left: 505px;
    display: flex;
    flex-direction: row;
}

footer p {
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 11px;
}
	
}
